@use "variables" as *;

footer {
    position: relative;
    background-image: url(../media/item1.jpg);
    display: flex;
    flex-wrap: wrap; /* чтобы на мобильных переносилось */
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px; /* вместо фиксированной высоты */
    gap: 40px; /* grid-gap уже устарел */
    line-height: 1.6;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

@mixin shadow-style ($bg,$lh: normal) {
    background-color: $bg;
    width: fit-content;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: flex;
    list-style: none;
    gap: 10px;
    line-height: $lh;

}


    .privacidad {
        @include shadow-style (rgba(18, 112, 7, 0.5), 2);
    }

    .socials ul {
        display: flex;
        margin-left: 40px;
        flex-direction: row;
        padding-right: 80px;
        padding-top: 30px;

        img {
            max-width: 100px;
            min-height: 100px;
        }
    }
    .whatsapp {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
    }


    .contact_info {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    

        .contacts {
            @include shadow-style (rgba(73, 217, 57, 0.5), 3);  


            .contact_item a {
                text-decoration: none;
                color: $nav-link-color;
            }
        }
    }
}

    footer,
    footer a,
    footer p,
    footer li { 
        font-size: $font-size;       
        font-weight: 700;     
        font-family: $main-text-font;
        color:$nav-link-color;
        text-decoration: none; 
    }