@use "variables" as *;


header {
  position: relative;

  .navheader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .menu {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin: 1rem 0;
      font-family: $h-title-font;
      font-size: 18px;

      a {
        text-decoration: none;
        color: $nav-link-color;
        font-weight: bold;
        line-height: 1;
        padding: 0.5rem 0;
        display: inline-block;
      }
    }
  }

  .gridheader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "headerimg1 headerimg1"
      "headerimg2 headerimg3";
    gap: 0;
    grid-template-rows: 300px 200px;

    .itemheader {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      width: 100%;
      margin: 0;
      padding: 0;
      height: 100%;
      display: block;
      position: relative;

      .title {
        position: absolute;
        top: 60%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        font-size: $h-title-size;
        color: $h-title-color;
        background: rgba(32, 32, 32, 0.5);
      }

      h1 {
        font-family: $h-title-font;
        font-weight: bold;
        font-size: $h-title-size;
      }
    }

    .headerimg1 {
      grid-area: headerimg1;
    }
    .headerimg2 {
      grid-area: headerimg2;
    }
    .headerimg3 {
      grid-area: headerimg3;
    }

    .headerimg1,
    .headerimg2,
    .headerimg3 {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
