@use "variables" as *;

header {
  position: relative;

  .navheader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .menu {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin: 0 auto;
      font-family: $h-title-font;
      font-size: $font-size;
      padding: 0.5rem 1rem; 
    }

    .nav-link:hover {
      background-color: #238d1b; 
      color: $nav-link-color;
    }
      
      a {
        text-decoration: none;
        color: $nav-link-color;
        font-weight: bold;
        line-height: 1;
        padding: 0.5rem 0;
        display: inline-block;
      }
    }
  


  .gridheader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "headerimg1 headerimg1"
      "headerimg2 headerimg3";
    grid-template-rows: 300px 200px;
    gap: 0;

    .itemheader {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .title {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 60px;
        font-family: $h-title-font;
        font-weight: bold;
        color: $h-title-color;
        background: rgba(32, 32, 32, 0.5);
        padding: 0.5rem 1rem;
        border-radius: 8px;
      }
    }

    .headerimg1 { grid-area: headerimg1; }
    .headerimg2 { grid-area: headerimg2; }
    .headerimg3 { grid-area: headerimg3; }

    .headerimg1,
    .headerimg2,
    .headerimg3 {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  /* Стили для иконки гамбургера */
.navbar-toggler {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 35px;
  height: 30px;
  background: transparent;
  border: none;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;

  .toggler-icon {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff; /* полоски белые */
    border-radius: 2px;
  }
}
}
