@use "variables" as *;

main {
  background-color: $background-color;
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
}

.contenedor {
  display: grid;
  grid-template-areas:
    "tituloh2 tituloh2 tituloh2"
    "picture1 tituloh3 tituloh3"
    "text1 text1 picture2"
    "tituloh32 tituloh32 tituloh32"
    "map maptext maptext";
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: min-content auto min-content auto auto;
  gap: 20px 30px;
  justify-items: stretch;
  align-items: stretch;

  .tituloh2 {
    grid-area: tituloh2;
    font-family: $h-title-font;
    font-size: $title-size;
    font-weight: bold;
    text-shadow: $shadow;
  }
  
  .picture1 {
    grid-area: picture1;
    border-radius: 7%;
  }
  
  .tituloh3 {
    @extend .tituloh2;
    grid-area: tituloh3;
    align-self: center;
  }

  .text1 {
    grid-area: text1;
  }
  
  .picture2 {
    grid-area: picture2;
    border-radius: 7%;
    min-width: 250px;
    height: auto;
    filter: brightness(135%);
  }

  .tituloh32 {
    @extend .tituloh2;
    grid-area: tituloh32;
  }
  
  .maptext {
    grid-area: maptext;
  }
  
  .map {
    grid-area: map;
    width: 100%;
    min-height: 350px;
    border: 0;
  }

  p {
    font-size: $font-size;
    color: $main-color-small;
    font-family: $main-text-font;
    line-height: 1.5;
  }

  h2, h3 {
    font-family: $h-title-font;
    color: $h-title-color;
    text-shadow: $shadow;
    font-size: $title-size;
    margin-bottom: 10px;
  }

  .picture1, .picture2 {
    max-width: 100%;
    height: auto;
    border-radius: 7%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// productos
.contenedor_productos {
  display: grid;
  grid-template-areas:
    "tituloh2_pr tituloh2_pr tituloh2_pr"
    "gridpr1 tituloh3_pr text1_pr"
    "tituloh32_pr text2_pr gridpr2"
    "tituloh33_pr gridpr3 text3_pr"
    "tituloh34_pr tituloh34_pr tituloh34_pr"
    "carousel carousel carousel";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 30px; 
  justify-items: center;
  align-items: center;
  overflow-x: hidden;

  .imgproductos {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .gridpr1 { grid-area: gridpr1; }
  .gridpr2 { grid-area: gridpr2; }
  .gridpr3 { grid-area: gridpr3; }

  .text1_pr {
    grid-area: text1_pr;
    font-family: $main-text-font;
    color: $main-color-small;
    justify-self: start;
    text-align: left;
  }
  .text2_pr {
    @extend .text1_pr;
    grid-area: text2_pr;
  }
  .text3_pr {
    @extend .text1_pr;
    grid-area: text3_pr;
  }

  .tituloh3_pr {
    grid-area: tituloh3_pr;
    color: $h-title-color;
    font-family: $h-title-font;
    font-weight: $bold;
    font-size: $title-size;
    text-shadow: $shadow;
    justify-self: start;
    text-align: left;
  }
  .tituloh32_pr {
    @extend .tituloh3_pr;
    grid-area: tituloh32_pr;
  }
  .tituloh33_pr {
    @extend .tituloh3_pr;
    grid-area: tituloh33_pr;
  }
  .tituloh2_pr {
    @extend .tituloh3_pr;
    grid-area: tituloh2_pr;
    text-align: center;
    justify-self: center;
  }
  .tituloh34_pr {
    grid-area: tituloh34_pr;
    color: $h-title-color;
    font-family: $h-title-font;
    font-weight: $bold;
    font-size: $title-size;
    text-align: center;
    justify-self: center;
    text-shadow: $shadow;
  }


  // Carousel
  .carousel, 
  .carousel img {
    grid-area: carousel;
    width: 55%;
    justify-self: center;
    height: auto;
  }
  
  .carousel-caption h4,
  .carousel-caption p {
    display: inline-block;             
    background-color: $bg-color-carousel; 
    border-radius: 6px;                
    font-weight: bold;
  }
}

// unete al club
.unete-main {
  .text-center {
    font-size: $title-size;
    color: $h-title-color;
    font-family: $h-title-font;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: $shadow;
  }

  p {
    font-size: $font-size;
    color: $main-color-small;
    font-family: $main-text-font;
    line-height: 1.5;
    text-align: stretch;
  }

  form {
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
    font-size: $font-size;
    color: $h-title-color;
    font-family: $main-text-font;

    .question {
      margin: 20px 0;
    }

    button {
      background-color: #4CAF50;
      color: $main-color-small;
      padding: 12px 20px;
      font-size: $font-size;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: $main-text-font;
      font-weight: bold;
    }
  }
}

// cuidado-main
.cuidado-main {
  @extend .unete-main;

  .video {
    display: flex;             
    justify-content: center; 
    padding: 10px;
  }

  .video iframe {
    min-height: 300px;
    width: 500px;
  }
}

//experencias

.cardsbs {
  h2{
    font-family: $h-title-font;
    color: $h-title-color;
    text-shadow: $shadow;
    font-size: $title-size;
    padding-bottom: 30px;
    display: flex;
    text-align: center;
    font-weight: bold;
  }
}

.be-comment-block {
  .comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: $main-text-font;
  }

  .be-comment {
    margin-bottom: 20px;

    .be-img-comment {
      width: 60px;
      height: 60px;
      float: left;
      margin-bottom: 15px;

      .be-ava-comment {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    .be-comment-content {
      margin-left: 80px;

      .be-comment-name {
        font-size: 13px;
        font-family: $main-text-font;

        a {
          color: #383b43;
        }
      }

      .be-comment-time {
        font-size: 11px;
        color: #b4b7c1;
        text-align: right;
        display: inline-block;
        width: 49%;
        margin-bottom: 15px;
      }

      .be-comment-text {
        font-size: 13px;
        line-height: 18px;
        color: #7a8192;
        display: block;
        background: #ffffff;
        border: 1px solid #edeff2;
        padding: 15px 20px 20px 20px;
      }
    }
  }

  .form-block {
    .form-group {
      position: relative;

      .form-input {
        font-size: 13px;
        line-height: 50px;
        font-weight: 400;
        color: #b4b7c1;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #edeff2;
        border-radius: 3px;
      }

      textarea.form-input {
        height: 150px;
      }

      &.fl_icon {
        .icon {
          position: absolute;
          top: 1px;
          left: 16px;
          width: 48px;
          height: 48px;
          background: #f6f6f7;
          color: $h-title-color;
          text-align: center;
          line-height: 50px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }

        .form-input {
          padding-left: 70px;
        }
      }
    }
  }
}

.container {
  max-width: 950px;
}

.card {
  border-radius: 1rem;
  box-shadow: 0px -10px 0px rgb(242, 255, 2);
  height: 450px;  
  overflow: hidden; 

  .card-image {
    img {
      width: 6.2rem;
      border-radius: 5rem;
      margin: 1.3rem auto 1rem auto;
    }
  }

  .card-text {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem;

    .card-title {
      font-size: 1rem;
      margin-bottom: 0;
      font-weight: bold;
      font-family: $main-text-font;
    }
  }

  .people {
    border-top: none;
    text-align: center;
    line-height: 1.2rem;
    padding: 2rem 0 1.4rem 0;
    font-family: $main-text-font;

    #name {
      font-size: 0.8rem;
      font-weight: bold;
    }

    #position {
      font-size: 0.7rem;

      a {
        color: rgb(151, 248, 6);
        font-weight: bold;

        &:hover {
          color: rgb(151, 248, 6);
        }
      }
    }
  }
}
.col-md-4 {
  padding: 0 0.5rem;
}


