@use "variables" as *;

// MOBILE 480px
@media (max-width: 480px) {

  /* header */
  .navheader {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 16px;
    padding-right: 16px;

    .menu {
      font-size: 13px;
      justify-content: flex-start;
      width: 100%;
      gap: 10px;
      padding-left: 0;
      padding-right: 0;
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: $nav-link-color;
          font-weight: bold;
          padding: 0.5rem 0;
          display: inline-block;
        }
      }
    }

    .itemheader {
      .title {
        top: 70%;
      }
    }
  }

  /* гамбургер */
  .navbar-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 38px;
    height: 48px;
    padding: 0;
    background: rgba(255, 251, 0, 0.95);
    border: none;
    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .toggler-icon {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
      border-radius: 2px;
      margin: 20px 0; // расстояние между полосками
    }
  }
  #mobileNav {
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 70%;
    z-index: 15;

    .navbar-nav {
      padding: 1rem;
      background-color: rgba(0,0,0,0.75);

      .nav-item {
        margin-bottom: 10px;

        .nav-link {
          color: #ffffff;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  //card
  .card {
    height: auto; 
    margin: 1rem 0.7rem 1rem;
  }

  /* sobre nosotros */
  .contenedor {
    grid-template-areas:
      "tituloh2"
      "picture1"
      "tituloh3"
      "text1"
      "picture2"
      "tituloh32"
      "map"
      "maptext";
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .tituloh2, .tituloh3, .tituloh32 {
      font-size: $title-size-ph;
      text-align: center;
    }

    .text1, .maptext {
      font-size: $font-size-ph;
      text-align: center;
    }

    .map {
      width: 100%;
      height: 80%;
      margin: 0 auto;
    }
  }

  /* productos */
  .contenedor_productos {
    grid-template-columns: 1fr;
    grid-template-areas:
      "tituloh2_pr"
      "tituloh3_pr"
      "gridpr1"
      "text1_pr"
      "tituloh32_pr"
      "gridpr2"
      "text2_pr"
      "tituloh33_pr"
      "gridpr3"
      "text3_pr"
      "tituloh34_pr"
      "carousel";
    gap: 15px;
    padding: 10px;
    width: 100%;
    overflow-x: hidden;

    .imgproductos {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

    .carousel img {
      width: 100%;
    }

    .carousel {
      width: 100%; 
    }
    .carousel-caption {
    font-size: 15px;  
    }


    .tituloh2_pr, .tituloh3_pr, .tituloh32_pr, .tituloh33_pr, .tituloh34_pr {
      font-size: $title-size-ph;
    }

    .text1_pr, .text2_pr, .text3_pr {
      font-size: $font-size-ph;
    }
  }

  /* cuidado */
  .cuidado-main {
    h2.text-center, h3.text-center {
      font-size: $title-size-ph;
    }

    p {
      font-size: $font-size-ph;
    }
  }

  /* unete */
  .unete-main {
    h2.text-center {
      font-size: $title-size-ph;
    }

    form {
      font-size: $font-size-ph;
    }

    p {
      font-size: $font-size-ph;
    }
  }

  /* footer */
  footer {
    text-align: center;
    display: block;
    font-size: $title-size-ph;
  }
}

// TABLET 481-768px

@media (min-width: 481px) and (max-width: 768px) {
  //hamburguesa
  .navbar-toggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 38px;
    height: 48px;
    padding: 0;
    background: rgba(255, 251, 0, 0.95);
    border: none;
    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .toggler-icon {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #ffffff;// белые полоски
      border-radius: 2px;
      margin: 20px 0; // расстояние между полосками
    }
  }

  #mobileNav {
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 70%;
    z-index: 15;

    .navbar-nav {
      padding: 1rem;
      background-color: rgba(0,0,0,0.75);

      .nav-item {
        margin-bottom: 10px;

        .nav-link {
          color: #ffffff;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
  /* sobre nosotros */
  .contenedor {
    grid-template-areas:
      "tituloh2"
      "tituloh3"
      "picture1"
      "text1"
      "picture2"
      "tituloh32"
      "map"
      "maptext";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .site_name {
    font-size: 36px;
  }

  /* productos */
  .contenedor_productos {
    grid-template-areas:
      "tituloh2_pr"
      "tituloh3_pr"
      "gridpr1"
      "text1_pr"
      "tituloh32_pr"
      "gridpr2"
      "text2_pr"
      "tituloh33_pr"
      "gridpr3"
      "text3_pr"
      "tituloh34_pr"
      "carousel";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    overflow-x: hidden;

    .contact_item {
      text-align: center;
    }

    .carousel {
      width: 70%;
      height: 100%;
    }
  }   
    .card {
      margin: 1rem 0.7rem 1rem;
      height: auto; 
    }

  /* footer */
  footer {
    text-align: center;
    display: block;
  }

}



